h1
{ 
text-align: center;
font-family:'Times New Roman', Times, serif;
}
h2
{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.column {
    float: left;
    text-align: center;
    padding-left: 180px;

  }

  

  .row::after {
    content: "";
    clear:both;
    display: table;
    
    
  }